nav.navbar,
.navbar-default {
  background-color: aqua !important;
  font-family: new century;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: lightcoral;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-toggle {
  border-color: lightcoral;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: lightcoral;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: lightcoral;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: lightcoral;
  background-color: transparent;
}
