.admin {
  color: lightcoral;
}

.inventory-wrapper {
  margin-bottom: 2em;
}

.pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: 100px;
  border-radius: 100;
  background-color: aquamarine;
  color: lightcoral;
  margin: 5px;
}

.price-input {
  margin: 5px;
}
