.shop-landing {
  background-color: lightcoral;
  margin-top: 0px;
}

.product-wrapper {
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: new century;
  background-color: yellow;
}

.text {
  color: black;
}
.pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: 100px;
  border-radius: 100;
  background-color: lightcoral;
}
