.product-wrapper {
  margin-bottom: 2em;
}

.text {
  color: lightcoral;
}
.pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: 100px;
  border-radius: 100;
  background-color: lightcoral;
}
