.footer-container {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25px;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.admin {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  margin-right: 15px;
  margin-bottom: 15px;
}
