.home-landing {
  background-color: aqua;
}
.jumbotron {
  background-color: lightcoral;
  margin-left: 0;
  text-align: center;
  font-family: new century;
  width: 100%;
  height: 200px;
  margin: 0;
}

.title {
  color: aqua;
}

p {
  color: aqua;
}
.slides {
  padding: 10px 50px 10px 50px;
}

.login-prompt {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: yellow;
  font-family: new century;
  height: 300px;
}
.login {
  color: yellow;
  background-color: lightcoral;
  margin: 5px;
  border-radius: 100;
  border: 100px;
}

/* @media (min-width: 800px) {
  .slides {
    height: 1000px;
  }
} */
@media (min-width: 800px) {
  .login-prompt {
    height: 50px;
  }
}
